body {
  background: #f3edfc;
  font-family: "Euclid Circular A", "Poppins";
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

footer{
    background: linear-gradient(90deg, #6907c8, #313581);
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "logo socials" "links links";
    place-content: center;
    color: white;
}

footer::after{
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    height: 68px;
    background: rgb(0 0 0 / 10%);
}

.logo{
    grid-area: logo;
}

.socials{
    grid-area: socials;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    font-size: 18px;
    transition: transform 0.3s;
}
.socials a:hover{
    cursor: pointer;
    transform: scale(1.05);
}

.links{
    grid-area: links;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 40px 0 50px;
}

.links h2{
    font-size: 1rem;
    font-weight: 400;
    color: rgb(255 255 255 / 60%);
}

.links ul{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
    opacity: 0.9;
    font-size: 15px;
}

.links ul a:hover{
    font-weight: bold;
    cursor: pointer;
}

.links address {
  font-style: normal;
  line-height: 1.5;
  font-size: 12px;
}

@media (width < 500px) {
  .links {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px 0;
    padding: 40px 0 30px;
  }
}

@media (width < 360px) {
  footer {
    grid-template-areas: "logo" "links" "socials";
    grid-template-columns: 1fr;
  }

  .socials {
    justify-content: flex-start;
    padding-bottom: 20px;
  }
}