*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, Helvetica, sans-serif;
}

.weather-app-page {
  min-height: 100vh;
  background-color: #1e48aa;
  padding: 100px 10px 70px;
}
.weather-app {
  max-width: 375px;
  min-height: 400px;
  margin: 0 auto;
  color: #212121;
  background-color: #f1f1f1;
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0 5px 5px rgba(0,0,0,0.3);
  text-align: center;
  position: relative;
}
.weather-app__loader-container {
  background-color: #f1f1f1;
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  visibility: hidden;
  opacity: 0;
  transition:  
  visibility 1s ease-out,
  opacity 1s ease-out;
}
.js-loader-active {
  visibility: visible;
  opacity: 1;
}
.weather-app__error-info {
  margin-top: 40px;
  font-size: 18px;
  display: none;
}
.weather-app__city {
  font-family: lato, sans-serif;
  font-size: 50px;
  color: #333;
}
.weather-app__country {
  font-size: 24px;
  margin-bottom: 32px;
  color: #606060;
}
.weather-app__temp {
  font-family: Lato, sans-serif;
  font-size: 70px;
  font-weight: 700;
  color: #212121;
  margin-bottom: 42px;
}
.weather-app__info-icon {
  width: 150px;
  margin: 0 auto;
  display: none;
}