*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #fff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

.game-container{
    background: rgb(233, 233, 233);
    border-radius: 15px;
    padding: 25px;
}

h1{
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 50px;
    text-align: center;
}

.selections{
    display: flex;
    justify-content: center;
}

.selection{
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 30px;
    margin-bottom: 50px;
    transition: 100ms;
}

.selection:hover{
    transform: scale(1.2);
}

.results{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
}

.result-score{
    margin: 16px;
    font-size: 15px;
    color: black;
}

.result-selection{
    opacity: .5;
}
.result-selection.winner{
    opacity: 1;
    font-size: 18px;
}