* {
  box-sizing: border-box;
}

body {
  background-color: rgb(145, 204, 239);
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

div {
  position: absolute;
  bottom: 20px;
  background: rgba(0, 0, 0, 0.1);
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 10px;
}

input {
  width: 50px;
  padding: 5px;
  font-size: 18px;
  background-color: rgb(252, 252, 252);
  border: none;
  border-radius: 10px;
  text-align: center;
}

input:focus {
  outline: none;
}