* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: rgb(223, 246, 253);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}

.container {
  background: rgb(220, 215, 215);
  padding: 20px;
  text-align: center;
  border-radius: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

h1 {
  font-size: 2rem;
  border-bottom: 1px solid black;
  padding-bottom: 15px;
}

p {
  font-size: 1rem;
  padding-top: 25px;
  padding-bottom: 25px;
}

.container label {
  display: block;
  padding: 20px 0;
}

.container input {
  border: none;
  outline: none;
  padding: 20px;
  width: 60%;
  border-radius: 15px;
  background-color: #eaeff2;
  color: black;
  font-size: 1.2rem;
}

.container .checker-power-container {
  background-color: #2e424d;
  width: 100%;
  height: 15px;
  border-radius: 5px;
}

.container .checker-power-container #power {
  background-color: #d73f40;
  width: 1%;
  height: 100%;
  border-radius: 5px;
  transition: 0.5s;
}
